*{
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */

body {
    background-color: #fcfdff;
    color: #0f2a36;
    font-family: 'Merriweather', serif;
    
   
}

header h1{
    font-size: 5em;
    text-align: center;
}

header h1:after {
    background-color: #e02100;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
     left: 0.5em;
    margin-right: -50%;
}

header h1:before {
    background-color: #e02100;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    right: 0.5em;
    margin-left: -50%;
}

header h2{
    color: #e02100;
    font-family: 'Open-sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    text-align: right;
    margin-right: 16vw;

}

a{
    color: #58b8ef;
    text-decoration: none;
}

/* SUMMARRY CLASS STYLE */

.summary {
  position: relative;
  max-width: 1040px;
  margin: 80px auto 0;
  width: 100%;
    
  
}
.summary p {
  clear: right;
  color: #e02100;
  float: right;
  font-style: italic;
  margin: 0;
  width: 300px;
}
.summary p a:last-child {
  white-space: nowrap;
}

/*A'LA ARTICLE STYLES */

h3{
    color: #e02100;
    font-size: 2em;
    padding-bottom: 5%
}

p{
    font-family: 'Open-sans', sans-serif;
    line-height: 25px;
}

.preamble {
    margin-top: 60vh;
    width: 40%;
    float: left;
    border-top: 5px solid #e02100;
    background-color: rgba(255,255,255,0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10vw;

}

.explanation {
    float: right;
    width: 49.8%;
    position: relative;
    margin-top: 52.8vh;
     border-top: 5px solid #e02100;
    background-color: rgba(255,255,255,0.9);
    padding-top: 20px;
    padding-bottom: 20px;
}

.explanation h3{
    padding-left: 5vw;
    padding-right: 10vw;
}
.explanation p{
    padding-left: 5vw;
    padding-right: 10vw;
}

.participation{
    position: relative;
    float: left;
    border-top: 5px solid #bad4ff;
    padding-top: 20px;
    background-color: #cee0ff;
    padding-left: 10vw;
     padding-right: 10vw;
    
}

.participation h3{
    width: 45%;
    left: 50%;
    float: left;
    
}

.participation p{
    width: 45%;
    left: 50%;
    float: left;
    clear: left;
}

.participation:after{
    background: url(images/participation.png) no-repeat right;
    clear: right;
    content: '';
    display: block;
    height: 412px;
    margin-right: 5vw;
}

.benefits{
    position: relative;
    float: left;
    padding-top: 80px;
    background-color: #cee0ff;
    padding-left: 10vw;
     padding-right: 10vw;
    padding-bottom: 50px;
    border-bottom: 5px solid #bad4ff;  
}

.benefits h3 {
    clear: left;
    float: left;
    left: 50%;
    margin-left: 1.5%;
    position: relative;
    float: left;
    width: 40%;
    
}

.benefits p {
  clear: left;
    float: left;
    left: 50%;
    margin-left: 1.5%;
    position: relative;
    float: left;
    width: 40%;
}

.benefits:before {
    border: 1px solid #e02100;
    content: '';
    display: block;
    height: 0px;
    left: 50%;
    position: absolute;
    margin: -60px 0 0 -110px;
    width: 220px;
}

.benefits:after {
    background: url(images/benefits.png)  no-repeat center;
    clear: right;
    content: '';
    display: block;
    height: 412px;
    margin-right: 5vw;
    width: 50%;
}

.requirements{
    position: relative;
    float: left;
    padding-left: 10vw;
     padding-right: 10vw;
    padding-top: 20px;
}

.requirements h3 {
  text-align: center;
}
.requirements p {
  float: left;
  margin-top: 0;
  max-width: 495px;
  width: 47.5%;
    padding-bottom: 3%;
}
.requirements p:nth-child(-n+3) {
  clear: left;
  margin-right: 5%;
}
.requirements p:nth-child(4) {
  position: absolute;
  right: 0;
padding-right: 9vw;
}
.requirements p:last-child {
  font-size: 24px;
  line-height: 1.25em;
  margin-top: 40px;
  max-width: none;
  padding: 0 22.5% 20px;
  text-align: center;
  width: 55%;
}
.supporting fotter{
    display: block;
    position: relative;
    float: left;
    text-align: center;
    margin-top: 100vh;
    padding-left: 10vw;
     padding-right: 10vw;
}

.wrapper{
    position: relative;
    float: left;
    padding-left: 10vw;
     padding-right: 10vw;
}
   
   

